$font-size: 10px;
ul {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-right: 10rem;
  li {
    list-style: none;
    margin-right: 1rem;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
.clickable {
  cursor: pointer;
}
.center {
  text-align: center;
}
